<% content_for :title, @project.title %>
<script>
  context["project_id"] = <%= @project.id %>;
</script>

<div class="project">
  <span class="title"><%= @project.title %></span>
  <span class="description"><%= @project.description %></span>
  <br/><br/>

  <div class="todo-lists" data-component="todo-list">
    <h3>Todo-Lists</h3>
    <%= button_tag "New Todo List", data: { action: "new-todo" } %>

    <div class="new-todo hide" data-container="new-todo">
      <br/>
      <input type="text" name="title" placeholder="Title" data-attribute="title"/>
      <input type="text" name="description" placeholder="Description" data-attribute="description"/>
      <%= button_tag "Create Todo", data: { action: "create-todo" } %>
      <%= button_tag "Cancel", data: { action: "cancel" }, class: "red" %>
    </div>

    <div data-container="todo-lists">
      <%= render "todo_lists/list", project: @project %>
    </div>
  </div>
</div>